.VP-Left-Wrapper {
    padding-top: 50px;
    /* padding-left: 20px; */
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 50px;
    height: 100vw;
}
.VP-Wrapper {
    display: flex;
    flex-direction: row;
}
.VP-Player-Wrapper {
    width: 1180px;
    /* glow radius (as high as possible for now) */
    box-shadow: 0 0 6000px rgba(255, 255, 255, 0.13);
}
.VP-Player {}
.VP-UnderPlayer-Wrapper {}
.VP-Title-Wrapper {}
.VP-Title {
    font-size: 1.35em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.VP-Lower-Wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.VP-Creator-Wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50px;
}
.VP-Creator-Img-Wrapper{
    width: 80px;
    height: 100%;
}
.VP-Creator-Img{
    position: relative;
    top: -10px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    /* adjust this to the desired width of your image */
    height: 45px;
}
.VP-CreatorName-Wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    left: -15px;
    top: -45px;
}
.VP-CreatorName{
    position: relative;
    top: 20px;
}
.VP-Subscribers{
    font-weight: 500;
    font-size: .8em;
    color: grey;
}

.VP-Buttons{
    display: flex;
    gap: 20px;
}

.VP-UpdateBtn{
    display: flex;
    width: 80px;
    height: 30px;
    background-color: rgb(28, 115, 232);
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

.VP-DeleteBtn{
    display: flex;
    width: 80px;
    height: 30px;
    background-color: red;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}
/* END */

/* Description Box */
/* in the future add a button to open the description box to see all the text./////////////////////////////////////////////////////////// */
/*/////////////////////////// DESC CLOSED //////////////////////////////////////////////////////////////////////////////*/
.VP-DescriptionBox-Wrapper-Sm{
    background-color: rgb(39, 39, 39);
    width: 1180px;
    height: 125px;
    position: relative;
    display: block;
    border-radius: 13px;
    overflow: hidden;
    padding-left: 10px;
    cursor: pointer;
}
.VP-Desc-ViewsAndTime-Sm{
    display: flex;
    flex-direction: row;
}
.VP-Description-Wrapper-Sm{
    display: flex;
    flex-direction: column;
}
.VP-Description-Sm{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}
.VP-Desc-ShowMore{
    position: relative;
    bottom: 20px;
    font-size: .9em;
    padding-left: 5px;
    color: grey;
}

/* /////////////////////////////////DESC OPEN /////////////////////////////////////////////////////////////////////////*/

.VP-DescriptionBox-Wrapper-Sl{
    background-color: rgb(39, 39, 39);
    width: 1180px;
    height: fit-content;
    position: relative;
    display: block;
    border-radius: 13px;
    overflow: hidden;
    padding-left: 10px;
    
}
.VP-Desc-ViewsAndTime-Sl{
    display: flex;
    flex-direction: row;
}
.VP-Description-Sl{
    white-space: wrap;
    width: 80%;
}
.VP-Desc-ShowLess{
    color: grey;
    cursor: pointer;
}

/* END ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* ADD COMMENTS */
.VP-Comments-Wrapper{
    margin-top: 30px;
    width: 1180px;
    /* height 100 for now remove asap */
    height: 100px;
    position: relative;
}
.VP-AddComments-Wrapper{
    display: flex;
    flex-direction: row;
    /* padding-bottom: 20px; */
}
.VP-Comments-UserIcon{
    width: 57px;
    height: 68px;
    font-size: 1.3em;
}
i.fa-solid.fa-circle-user:before{
    padding-left: 5px;
    font-size: 2em;
}
.VP-InputAndButtons-Wrapper{

}
.VP-Input-Wrapper{

}
.VP-Comment-Input{
    width: 1120px;
    height: 25px;
    border: 0;
    border-bottom: 1px solid grey;
    color: rgb(163, 163, 163);
    background-color: rgb(15, 15, 15);
    padding-bottom: 5px;
    font-size: 1.1em;
    cursor:text;
}
.VP-Comment-Input:focus{
    outline: none;
}
.VP-CommentInputButton-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}
.VP-Submit{
    display: flex;
    width: 90px;
    height: 34px;
    background-color: rgb(39, 39, 39);
    color: rgb(163, 163, 163);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: .9em;
    cursor: pointer;
}
/* END */


/* USER COMMENTS */
.VP-UC-Main-Wrapper{
    /* width: 1000px; */
}
.VP-UC-Card-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.VP-UC-Icon-Wrapper{
    /* width: 57px;
    height: 68px; */
    position: relative;
    top: -10px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 45px;
    /* adjust this to the desired width of your image */
    height: 45px;
    /* adjust this to the desired height of your image */

}
#VP-UC-Icon{
    /* font-size: 1.3em; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.VP-UC-RightBox-Wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1070px;

    
}
.VP-UC-Commenter-Wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.VP-UC-Commenter{
    font-size: .95em;
    font-weight: 400;
    text-align: center;

    
}
.VP-UC-Time{
    color: rgb(163, 163, 163);
    font-size: .75em;
    font-weight: 500;
}
.VP-UC-Comment-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.VP-UC-Comment{
    position: relative;
    top: -15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.VP-UC-NoComments-Wrapper{

}
.VP-UC-NoComment-Title{}
/* END */


/* EDIT COMMENT CSS */
.VP-Edit-CommentInputButton-Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
    gap: 10px;
}
.VP-UC-EditComment-Wrapper{
    display: flex;
}
.VP-Cancel{
    display: flex;
    width: 90px;
    height: 34px;
    background-color: rgb(39, 39, 39);
    color: rgb(163, 163, 163);
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: .9em;
    cursor: pointer;
    
}



/* END */


/* RECOMENDED */
.VP-Right-Wrapper {
    position: absolute;
    top: 100px;
    right: 30px;
}
.VP-Recomended-Wrapper {}
.VP-Rec-Card-Wrapper {
    width: 380px;
    height: 106px;
    cursor: pointer;
}
.VP-Rec-Container {
    display: flex;
    flex-direction: row;
}
.VP-Rec-Img-Wrapper {
    margin-right: 10px;
    width: 169px;
    height: 96px;
    border-radius: 10px;background-color: 
    rgba(35, 35, 35, .9)
}
.VP-Recomended-Img {
    width: 169px;
    height: 96px;
    border-radius: 10px;
}
.VP-Rec-Text-Wrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: gray; */
    height: 96px;
    width: 200px;
    gap: 5px;
    
}
.VP-Rec-Title-Wrapper {
    /* background-color: green; */
    height: 40px;
    font-size: .95em;
    font-weight: 500;
}
.VP-Rec-Title {
    position: relative;
    top: 5px;
    /* change to 40px after making function to add ... to titles that are too long */
    max-height: 34px;
    margin: 0;
    overflow: hidden;
}
.VP-Rec-Uploader-Wrapper{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    position: relative;
    top: 3px;
}
.VP-Rec-Uploader-Img{
    
    top: 13px;
    left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 16px;
    /* adjust this to the desired width of your image */
    height: 16px;
    /* adjust this to the desired height of your image */
}
.VP-Rec-Uploader{
    position: relative;
    top: 2px;
    height: 40px;
    margin: 0;
    /* background-color: green; */
    height: 20px;
    color: rgb(163, 163, 163);
    font-size: .9em;
    font-weight: 400;
    align-self: center;
}
.VP-Rec-ViewsAndTime-Wrapper{
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    height: 40px;
    margin: 0;
    color: rgb(163, 163, 163);
    font-size: .9em;
    font-weight: 400;
    text-align: center;
}
.VP-Rec-Views{
    top: 0;
    height: 40px;
    margin: 0;
}
.VP-Rec-Time{
    top: 0;
    height: 40px;
    margin: 0;
}
/* END */



.VP-UC-OwnerEdit-Wrapper{
    height: 40px;
} 
#VP-UC-Edit{
    display: flex;
    position: absolute;
    right: 0px;
    align-content: center;
    cursor: pointer;
} 
.VP-EditMenu-Wrapper{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 30px;
    background-color: rgb(39, 39, 39);
    align-items: center;
    border-radius: 10px;
    gap: 0;
    position: absolute;
    right: 25px;
    /* bottom: -34px; */
    justify-content: space-around;
}

.VP-EditMenu-EditBtn{
    padding-right: 6px;
    border-right: 2px solid black;
    cursor: pointer;
    color: black;
    margin-left: 5px;
}
.VP-EditMenu-EditBtn:hover{
    color: rgb(28, 115, 232);
}

.VP-EditMenu-DeleteBtn{
    cursor: pointer;
    color: black;
    margin-right: 3px;
}

.VP-EditMenu-DeleteBtn:hover{
    color: rgb(28, 115, 232);
}