.HP-Wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    padding-top: 100px;
    width: calc(100% - 280px);
    position: absolute;
    right: 0;
    padding-right: 20px;
    flex-grow: 1;
    transition: width 0.3s ease;
}

.HP-Wrapper.full-width{
    width: 95%;
    margin-right:20px;
    margin: 0 auto; /* Center horizontally */

}

.HP-Video-Wrapper {
    cursor: pointer;
    height: 320px;
}

.HP-Thumbnail-Wrapper {
    width: 100%;
    height: 60%;
    /* margin-bottom: 56.25%; */
    /* 16:9 aspect ratio */
    /* position: relative; */
    border-radius: 8px;
    overflow: hidden;
}

.HP-Thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HP-Lower-Wrapper {
    display: flex;
    flex-direction: row;
    height: 100px;
    position: relative;
    top: 6px;
    overflow: hidden;
}

.HP-Uploader-Img-Wrapper {
    width: 80px;
    height: 100%;
}

.HP-Uploader-Img {
    position: relative;
    top: 5px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
}

#ad-External {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
}

.HP-Video-Wrapper-Ad {
    text-decoration: none;
}

.HP-Text-Wrapper-Ad {
    display: flex;
    flex-direction: column;
    width: 212px;
    gap: 5px;
}

.HP-Title-Wrapper-Ad {
    height: 30px;
    font-size: 0.95em;
    font-weight: 400;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}

.HP-Title-Ad {
    color: white;
}

.HP-Views-Wrapper-Ad {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HP-Text-Wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: fit-content;

    margin: 0;
}

.HP-Title-Wrapper {
    margin-top: 5px;
    font-size: 0.95em;
    font-weight: 400;
    display: flex;
    align-items:center;
}

.HP-Title {
    color: white;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.HP-Uploader-Name-Wrapper {
    margin: 0;
    margin-top: 7px;
    display: flex;
}

.HP-Uploader-Name {
    color: grey;
    font-size: 0.9em;
    margin: 0;
    height: 10px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}

.HP-ViewsAndTime-Wrapper {
    display: flex;
    margin: 0;
    height: 20px;
    margin-top:15px;
}

.HP-Views-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HP-Views {
    color: grey;
    font-size: 0.9em;
}

.HP-Time {
    color: grey;
    font-size: 0.9em;
}