.HP-Wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    padding-top: 100px;
    /* Height of the top bar */
    padding-left: 260px;
    padding-right: 20px;
    /* Width of the sidebar */
}

.HP-Video-Wrapper {
    cursor: pointer;
}

.HP-Thumbnail-Wrapper {
    width: 334px;
    height: 186px;
    border-radius: 8px;
    background-color: rgba(35, 35, 35, .9)
}

.HP-Thumbnail {
    width: 334px;
    height: 186px;
    border-radius: 8px;
}

.HP-Lower-Wrapper{
    display: flex;
    flex-direction: row;
    height: 106px;
    position: relative;
    top: 6px;
}

.HP-Uploader-Img-Wrapper{
    width: 80px;
    height: 100%;
}

.HP-Uploader-Img{
    position: relative;
    top: 5px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    /* adjust this to the desired width of your image */
    height: 40px;
    /* adjust this to the desired height of your image */
}


/*///////////////////////////////////////////////////////////////////////////////////////////*/
#ad-External{
    position: relative;
    left: 300px;
    bottom: 30px;
    /* background-color: black;
    border-radius: 5px; */
    color:white;
}

.HP-Video-Wrapper-Ad{
    text-decoration: none;
}

.HP-Text-Wrapper-Ad{
    display: flex;
    flex-direction: column;
    width: 212px;  
    position: relative;
    top: 0px;
    left: 0px;
    gap: 5px;
}

.HP-Title-Wrapper-Ad {
    height: 30px;
    font-size: .95em;
    font-weight: 400;
}

.HP-Title-Ad {
    color:white;
}

.HP-Views-Wrapper-Ad{
    position: relative;
    top: -35px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*///////////////////////////////////////////////////////////////////////////////////////////*/

.HP-Text-Wrapper{
    display: flex;
    flex-direction: column;
    width: 212px;  
    height: fit-content;
    position: relative;
    top: -5px;
    left: -20px;
}

.HP-Title-Wrapper {
    height: 30px;
    font-size: .95em;
    font-weight: 400;
}

.HP-Title {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.HP-Uploader-Name-Wrapper{
    position: relative;
    top: -10px;
}

.HP-Uploader-Name{
    color: grey;
    font-size: .9em;
}

.HP-ViewsAndTime-Wrapper{

}

.HP-Views-Wrapper{
    position: relative;
    top: -35px; 
    display: flex;
    flex-direction: row;
}

.HP-Views{
    color: grey;
    font-size: .9em;
}

.HP-Time{
    color: grey;
    font-size: .9em;
}