.HP-Wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 20px;
    padding-top: 100px;
    /* Height of the top bar */
    padding-left: 260px;
    padding-right: 20px;
    /* Width of the sidebar */
}

.HP-Video-Wrapper {
    cursor: pointer;
}

.HP-Thumbnail-Wrapper {}

.HP-Thumbnail {
    width: 334px;
    height: 186px;
    border-radius: 8px;
}

.HP-Lower-Wrapper{
    display: flex;
    flex-direction: row;
    height: 106px;
}

.HP-Uploader-Img-Wrapper{
    width: 80px;
    height: 100%;
}

.HP-Uploader-Img{
    position: relative;
    top: 5px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    /* adjust this to the desired width of your image */
    height: 40px;
    /* adjust this to the desired height of your image */
}

.HP-Text-Wrapper{
    display: flex;
    flex-direction: column;
    width: 212px;  
    position: relative;
    top: -10px;
    left: -20px;
}

.HP-Title-Wrapper {
    height: 30px;
    font-size: .95em;
    font-weight: 400;
}

.HP-Title {}

.HP-Uploader-Name-Wrapper{
    position: relative;
    top: 5px;
}

.HP-Uploader-Name{
    color: grey;
    font-size: .9em;
}

.HP-ViewsAndTime-Wrapper{

}

.HP-Views-Wrapper{
    position: relative;
    top: -18px; 
    display: flex;
    flex-direction: row;
}

.HP-Views{
    color: grey;
    font-size: .9em;
}

.HP-Time{
    color: grey;
    font-size: .9em;
}