.TB-wrapper {
    height: 55px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 1px solid rgb(red, green, blue); */
    background-color: rgba(19, 19, 19,.9);
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.2);

}

.TB-LeftSide-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: 50px;
}

#TB-userIcon{
    cursor: pointer;
}

.TB-IconName-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
    cursor: pointer;
    padding-top: 2px;
}

.TB-Youtobe-Icon {
    width: auto;
    height: 34px;
}

.TB-Title {
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}

.TB-Search-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.TB-Search-Input {
    display: flex;
    height: 37px;
    width: 25vw;
    border-radius: 15px;
    border: 1px solid rgb(48, 48, 48);
    background-color: rgb(15, 15, 15);
    color: white;
    padding-left: 10px;
}

.TB-SearchIcon-Wrapper {
    position: relative;
    right: 8%;
}

#search-icon {
    color: white;
}

.TB-RightSide-Wrapper {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.TB-RightSide-MyLinks-Wrapper{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.5em;
}   

#LinkedInIcon{
    color: white;
}

#GithubIcon{
    color: white;
}

#userIcon {
    color: white;
    cursor: pointer;
}

#Profile-btn-icon {
    font-size: 1.4em;
}


.TB-UserImg-Wrapper{
    width: 80px;
    height: 100%;
    cursor: pointer;
}

.TB-UserImg{
    position: relative;
    top: 0px;
    right: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    /* adjust this to the desired width of your image */
    height: 40px;
    /* adjust this to the desired height of your image */
}

/* NOT LOGGED IN BUTTON */
.TB-NotLoggedInBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    height: 36px;
    padding: 0px 15px 0px 10px;
    border-radius: 30px;
    color: rgb(61, 166, 255);
    border: 1px solid rgb(63, 63, 63);
    font-size: .9em;
    font-weight: 500;
    cursor: pointer;
}